<div class="row">
    <div class="col-md 12">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">Mongo Scraper</h1>
                <p class="lead">New York TImes Edition</p>
            </div>
        </div>
    </div>
</div>

<div id="articles">
    {{#if articles}}
        {{#each articles}}
            <div class="row article-template">
                <div class="col-md-9 title">
                    <h2>{{title}}</h2>
                </div>
                <div class="col-md-3 offset-1 button-div text-right">
                    <button id="savedButton" data-id= "{{_id}}"> Saved Article</button>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="card-header warning">
                        Uh oh! We don't have any saved articles for you!
                    </h2>
                </div>
            </div>
        </div>
    {{/if}}
<input type="hidden" id="is-saved" value="false">
    
</div>

