<div class="row">
    <div class="col-md 12">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">Saved Articles</h1>
                <p class="lead">Your Saved Articles</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="articles">
            {{#each articles}}
            <div class="row article-template">
                <div class="col-md-9 title">
                    <h2>{{title}}</h2>
                </div>
                <div class="col-md-3 offset-1 button-div text-right">
                    <button id="noteButton" data-id= "{{_id}}"> Note</button>
                    <button id="deleteButton" data-id= "{{_id}}"> Delete</button>
                </div>
            </div>
        {{/each}}
        </div>
        <input type="hidden" id="is-saved" value="true">

    </div>
</div>

